<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bangbang.dao.BadanswerMapper" >
  <resultMap id="BaseResultMap" type="com.bangbang.po.Badanswer" >
    <id column="badID" property="badid" jdbcType="INTEGER" />
    <result column="answerID" property="answerid" jdbcType="INTEGER" />
    <result column="userID" property="userid" jdbcType="INTEGER" />
    <result column="badOption" property="badoption" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    badID, answerID, userID, badOption
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bangbang.po.BadanswerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from badanswer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from badanswer
    where badID = #{badid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from badanswer
    where badID = #{badid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bangbang.po.BadanswerExample" >
    delete from badanswer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bangbang.po.Badanswer" >
    insert into badanswer (badID, answerID, userID, 
      badOption)
    values (#{badid,jdbcType=INTEGER}, #{answerid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{badoption,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bangbang.po.Badanswer" >
    insert into badanswer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="badid != null" >
        badID,
      </if>
      <if test="answerid != null" >
        answerID,
      </if>
      <if test="userid != null" >
        userID,
      </if>
      <if test="badoption != null" >
        badOption,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="badid != null" >
        #{badid,jdbcType=INTEGER},
      </if>
      <if test="answerid != null" >
        #{answerid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="badoption != null" >
        #{badoption,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bangbang.po.BadanswerExample" resultType="java.lang.Integer" >
    select count(*) from badanswer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update badanswer
    <set >
      <if test="record.badid != null" >
        badID = #{record.badid,jdbcType=INTEGER},
      </if>
      <if test="record.answerid != null" >
        answerID = #{record.answerid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userID = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.badoption != null" >
        badOption = #{record.badoption,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update badanswer
    set badID = #{record.badid,jdbcType=INTEGER},
      answerID = #{record.answerid,jdbcType=INTEGER},
      userID = #{record.userid,jdbcType=INTEGER},
      badOption = #{record.badoption,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bangbang.po.Badanswer" >
    update badanswer
    <set >
      <if test="answerid != null" >
        answerID = #{answerid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="badoption != null" >
        badOption = #{badoption,jdbcType=VARCHAR},
      </if>
    </set>
    where badID = #{badid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bangbang.po.Badanswer" >
    update badanswer
    set answerID = #{answerid,jdbcType=INTEGER},
      userID = #{userid,jdbcType=INTEGER},
      badOption = #{badoption,jdbcType=VARCHAR}
    where badID = #{badid,jdbcType=INTEGER}
  </update>
</mapper>