<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bangbang.dao.OptionMapper" >
  <resultMap id="BaseResultMap" type="com.bangbang.po.Option" >
    <id column="oID" property="oid" jdbcType="INTEGER" />
    <result column="oName" property="oname" jdbcType="VARCHAR" />
    <result column="ocountent" property="ocountent" jdbcType="VARCHAR" />
    <result column="answerID" property="answerid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    oID, oName, ocountent, answerID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bangbang.po.OptionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from option
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from option
    where oID = #{oid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from option
    where oID = #{oid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bangbang.po.OptionExample" >
    delete from option
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bangbang.po.Option" >
    insert into option (oID, oName, ocountent, 
      answerID)
    values (#{oid,jdbcType=INTEGER}, #{oname,jdbcType=VARCHAR}, #{ocountent,jdbcType=VARCHAR}, 
      #{answerid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bangbang.po.Option" >
    insert into option
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        oID,
      </if>
      <if test="oname != null" >
        oName,
      </if>
      <if test="ocountent != null" >
        ocountent,
      </if>
      <if test="answerid != null" >
        answerID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="oname != null" >
        #{oname,jdbcType=VARCHAR},
      </if>
      <if test="ocountent != null" >
        #{ocountent,jdbcType=VARCHAR},
      </if>
      <if test="answerid != null" >
        #{answerid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bangbang.po.OptionExample" resultType="java.lang.Integer" >
    select count(*) from option
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update option
    <set >
      <if test="record.oid != null" >
        oID = #{record.oid,jdbcType=INTEGER},
      </if>
      <if test="record.oname != null" >
        oName = #{record.oname,jdbcType=VARCHAR},
      </if>
      <if test="record.ocountent != null" >
        ocountent = #{record.ocountent,jdbcType=VARCHAR},
      </if>
      <if test="record.answerid != null" >
        answerID = #{record.answerid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update option
    set oID = #{record.oid,jdbcType=INTEGER},
      oName = #{record.oname,jdbcType=VARCHAR},
      ocountent = #{record.ocountent,jdbcType=VARCHAR},
      answerID = #{record.answerid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bangbang.po.Option" >
    update option
    <set >
      <if test="oname != null" >
        oName = #{oname,jdbcType=VARCHAR},
      </if>
      <if test="ocountent != null" >
        ocountent = #{ocountent,jdbcType=VARCHAR},
      </if>
      <if test="answerid != null" >
        answerID = #{answerid,jdbcType=INTEGER},
      </if>
    </set>
    where oID = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bangbang.po.Option" >
    update option
    set oName = #{oname,jdbcType=VARCHAR},
      ocountent = #{ocountent,jdbcType=VARCHAR},
      answerID = #{answerid,jdbcType=INTEGER}
    where oID = #{oid,jdbcType=INTEGER}
  </update>
</mapper>