<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bdqn.exam.dao.problemsMapper" >
  <resultMap id="BaseDate" type="cn.bdqn.exam.entity.Problems" >
    <id column="pro_id" property="pro_id" jdbcType="INTEGER" />
    <result column="pro_question" property="pro_question" jdbcType="VARCHAR" />
    <result column="proAdminContext" property="proAdminContext" jdbcType="VARCHAR" />
    <result column="pro_name" property="pro_name" jdbcType="VARCHAR" />
    <result column="pro_phone" property="pro_phone" jdbcType="VARCHAR" />
    <association property="user" javaType="cn.bdqn.exam.entity.User">
        <result column="user_id" property="userId"/>
        <result column="account" property="account"/>
    </association>
  </resultMap>
    <select id="finaByproblems" resultMap="BaseDate">
    SELECT  p.`pro_id`,p.`pro_question`,p.proAdminContext,u.`account`,p.`pro_name`,p.`pro_phone` FROM `problems` AS p,`user` AS u WHERE p.`user_Id`=u.`userid` and pro_if=0

    </select>
  <update id="upd" parameterType="cn.bdqn.exam.entity.Problems">
          UPDATE problems SET proAdminContext=#{proAdminContext} where pro_id=#{pro_id}
    </update>
  <select id="finaByProQuery" resultMap="BaseDate">
   SELECT  p.`pro_id`,p.`pro_question`,p.proAdminContext,u.`account`,p.`pro_name`,p.`pro_phone` FROM `problems` AS p,`user` AS u WHERE p.`user_Id`=u.`userid` AND p.`pro_question` LIKE CONCAT('%',#{pro_question},'%') and pro_if=0

    </select>
    <update id="del" parameterType="Integer">
        UPDATE problems SET pro_if=1 WHERE pro_id = #{pro_id}
    </update>
</mapper>